<div class="row">
  <main class="col-md-12">
    <!-- Start your code here -->
    <div class="mainsection">
      <form method="post" action="/coursess/add" style="width: 100%">
        <fieldset>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label>Course Code:</label>
                <input class="form-control" name="courseCode" type="text" />
              </div>
            </div>
            <div class="col-md-8">
              <div class="form-group">
                <label>Course Description:</label>
                <input
                  class="form-control"
                  name="courseDescription"
                  type="text"
                />
              </div>
            </div>
          </div>
        </fieldset>
        <hr />
        <input
          type="submit"
          class="btn btn-primary float-right submit-btn"
          value="Add Course"
        /><br /><br /><br />
      </form>
    </div>
  </main>
</div>