<div class="row">
  <main class="col-md-12">
    <!-- Start your code here -->
    <div class="mainsection">
      <div class="overview">
        <p class="h3">Table Section</p>
        <caption>
          My Expenses and Savings
        </caption>
        <table class="table table-striped table-bordered">
          <thead class="thead-dark">
            <tr>
              <th>Month</th>
              <th>Salary</th>
              <th>Expenses</th>
              <th>Savings</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>January</td>
              <td>$3000</td>
              <td>$2600</td>
              <td>$400</td>
            </tr>
            <tr>
              <td>February</td>
              <td>$2500</td>
              <td>$2000</td>
              <td>$500</td>
            </tr>
            <tr>
              <td>March</td>
              <td>$4000</td>
              <td>$2700</td>
              <td>$1300</td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td>Sum</td>
              <td>$9500</td>
              <td>$7300</td>
              <td>$2200</td>
            </tr>
          </tfoot>
        </table>
        <p class="h6">
          Table 1 : Contain Monthly Salary, Expenses and Savaings which spends
          by particuler user using basic tags like &lttable&gt, &ltcaption&gt,
          &ltth&gt, &lttr&gt, &lttd&gt and more.
        </p>

        <caption>
          Cats and their Favorite Foods
        </caption>
        <table class="table table-striped table-bordered">
          <thead class="thead-dark">
            <tr>
              <th>Name</th>
              <th>Age</th>
              <th>Favorite Food</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>Kitty</td>
              <td>2.5</td>
              <td>Milk</td>
            </tr>

            <tr>
              <td>Milli</td>
              <td>0.8</td>
              <td>Fish</td>
            </tr>

            <tr>
              <td>Binni</td>
              <td>1.2</td>
              <td rowspan="2">Milk</td>
              <!--Applied rowspan on this cell.-->
            </tr>

            <tr>
              <td>Dublet</td>
              <td>3.2</td>
            </tr>
          </tbody>

          <tfoot>
            <tr>
              <td colspan="2">Most liked food:</td>
              <!-- Applied colspan on this cell-->
              <td>Milk</td>
            </tr>
          </tfoot>
        </table>
        <p class="h6">
          Table 2 : Contain cat and their favorite food and in last gives most
          liked food using rowspan and colspan.
        </p>
      </div>

      <div class="overview">
        <p class="h3">List Section</p>
        <ol>
          <li>Progrmming Languages</li>
          <ul>
            <li>C</li>
            <li>C++</li>
            <li>Java</li>
            <li>Python</li>
          </ul>
          <li>DSA</li>
          <ul>
            <li>Array</li>
            <li>Linked List</li>
            <li>stack</li>
            <li>Queue</li>
            <li>Trees</li>
            <li>Graphs</li>
          </ul>
          <li>Web Technologies</li>
          <ul>
            <li>HTML</li>
            <li>CSS</li>
            <li>JavaScript</li>
            <li>Bootstrap</li>
            <li>React Js</li>
          </ul>
          <li>Databases</li>
          <ul>
            <li>MongoDB</li>
            <li>Redis</li>
            <li>Oracle</li>
          </ul>
          <li>Operating System</li>
          <ul>
            <li>MAC</li>
            <li>Windows</li>
            <li>linux</li>
            <li>Android</li>
          </ul>
        </ol>
        <p class="h6">
          List Description : HTML lists allow web developers to group a set of
          related items in lists. And above example contain various subjects and
          their sub topics using &ltul&gt, &ltol&gt and &ltli&gt.
        </p>
      </div>

      <div class="overview">
        <p class="h3">Image Section</p>
        <div class="images-container">
          <div class="image-body">
            <img
              alt="image 1"
              class="image"
              src="https://images.unsplash.com/photo-1523906834658-6e24ef2386f9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8cGxhY2V8ZW58MHx8MHx8&auto=format&fit=crop&w=800&q=60"
            />
            <p class="h6">
              Description : It is bridge image using &ltimg&gt tag and alt name
              is image 1.
            </p>
          </div>
          <div class="image-body">
            <img
              alt="image 2"
              class="image"
              src="https://images.unsplash.com/photo-1559910369-3924e235c1cf?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2079&q=80"
            />
            <p class="h6">
              Description : It is restaurent image using &ltimg&gt tag and alt
              name is image 2.
            </p>
          </div>
          <div class="image-body">
            <img
              alt="image 3"
              class="image"
              src="https://images.unsplash.com/photo-1574509322729-fdbcea67df6f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1674&q=80"
            />
            <p class="h6">
              Description : It is italy image using &ltimg&gt tag and alt name
              is image 3.
            </p>
          </div>
        </div>
      </div>
      <div class="overview">
        <p class="h3">Audio Section</p>
        <audio controls autoplay muted>
          <source
            src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-audio.mp3"
            type="audio/mpeg"
          />
          <source
            src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-audio.ogg"
            type="audio/ogg"
          />
          Your browser does not support the audio element.
        </audio>
        <p class="h6">
          Description : Contain audio file of mp3 and ogg using &ltaudio&gt tag
          which have control, autoplay and muted options.
        </p>
      </div>
      <div class="overview">
        <p class="h3">Video Section</p>
        <video width="320" height="240" controls>
          <source
            src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-video.mp4"
            type="video/mp4"
          />
          <source
            src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-video.ogg"
            type="video/ogg"
          />
          Your browser does not support the video tag.
        </video>
        <p class="h6">
          Description : Contain video file of mp3 and ogg using &ltvideo&gt tag
          which have control and height, width is 240 and 320.
        </p>
      </div>
    </div>
    <!-- End your code here  -->
  </main>
</div>
